
html
{
    position:relative;
    min-height:100%;
}

body{
  padding: 0;
  margin: 0;
  background-image: url(img/fondo.jpg);
}
/*-----------------------------------------------------------------------------Cosas para el header y footer---------------------------------------------------------------------*/
header{
  height: 150px;
  background-color: #a7acf3;
}

header img{
  float: left;
  width: 100px;
}

/*-----------------------------------------------------------------------------Cosas del Menú Principal que aun no se ha hecho------------------------------------------*/

ul {
    list-style-type: none;
    margin: 15px 15px;
    padding: 0;
    overflow: hidden;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

li:hover > ul{
  display: block;
}

li ul li{
  position: relative;
}

ul li ul{
  right: 850px;
}

.active {
    background-color: #4CAF50;
}

/*-------------------------------------------Login-------------------------------------------------------------------------------*/

#formlogin {
    border: 3px solid #f1f1f1;
    width: 40%;
    margin:auto;
}
#h2login{
    text-align: center;
}

input[type=textl], input[type=passwordl] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signupbtnl {
    background-color: #00008B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtnl {
    width: auto;
    padding: 10px 18px;
    background-color: #B22222;
    color: white;
}



img.avatar {
    width: 40%;
    border-radius: 50%;
}

.containerl {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtnl {
       width: 100%;
    }
}
/*--------------------------------------------------------------------------------Registro---------------------------------------------------------------------------------*/
/* Full-width input fields */
#H2Registro{
    text-align: center;
}
input[type=textregistro], input[type=passwordregistro] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

.signupbtnr{
    background-color: #00008B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Extra styles for the cancel button */
.cancelbtnr {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #B22222;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtnr,.signupbtnr {
    float: left;
    width: 50%;

}

/* Add padding to container elements */
.containerregistro {
    padding: 16px;

}
.formregistro{
    border: 3px solid #f1f1f1;
    width: 40%;
    float: right;
    position: relative;
    margin:auto;
    background-color: white;
}
form:hover{
    background-color: #FFFFE0;
}
input:hover{
    background-color: #AFEEEE;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtnr, .signupbtnr {
       width: 100%;
    }
}
