table,th,td{
	border:1px dashed #607D8B;
}
table{
	border-collapse:collapse;
}
th{
	padding:5px;
}
td{
	padding-left:8px;
}

body{

/*Center Web Page Content*/
	width:90%;
	margin:auto;
/* */
	background:#F5F5F5;
	padding:20px;
}
html{
	background:#455A64;
}

