/*------------------------Header-------------------*/
#header{
	float: left;
}
header div img{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
h6{
	font-style: italic;
}

header div h1{
	font-family:verdana;
	margin-top: 0px;
	margin-right: 10px;
	font-size: 24px;
	color: #330000;
}

header div h6 {
	margin-bottom: 0px;
}

/*-------------------------------------------------*/

/*------------------------Footer-------------------*/
footer{
	font-size: 9px;
	font-family:verdana;
}
/*-------------------------------------------------*/
/*------------------------Acerca de-------------------*/
.acerca{
	background-color: solid block #b3b3b3;
	width: 100%;
	margin:auto;
}
/*-------------------------------------------------*/

.clear{
	clear: both;
}

table,th,td{
	border:1px dashed #607D8B;
}
table{
	border-collapse:collapse;
}
th{
	background:#B0BEC5;
	padding:5px;
}
td{
	padding-left:8px;
}

body{

/*Center Web Page Content*/
	width:90%;
	margin:auto;
	margin-top:10px;
	margin-bottom:20px;
/* */
	background:#F5F5F5;
	padding:10px 20px 20px 20px;
	border-radius:20px;
	box-shadow: 10px 10px 5px #263238;
}
div.body-navbar{
	margin-top:0px;
	float: left;

}
div.body-navbar a{
	text-decoration:none;
	color:#1A237E;
	font-size:12px;
	padding:2px;
	border: 1px solid #263238;
	border-radius:30px;
}

div.body-navbar a:hover{
	text-decoration:none;
	color:#5C6BC0;
	border-color:#9E9E9E;
}
/*---------------------Imprimir--------------------*/
div.imprimir{
	margin-top:0px;
	margin-left: 100px;
	margin-bottom: 10px;
	float: left;

}
div.imprimir a{
	text-decoration:none;
	color:#1A237E;
	font-size:12px;
	padding:2px;
	border: 1px solid #263238;
	border-radius:30px;
}

div.imprimir a:hover{
	text-decoration:none;
	color:#5C6BC0;
	border-color:#9E9E9E;
}

/*--------------------------------------------------*/
html{
	background:#455A64;
}
div.input-combo{
	display:inline;
	position:relative;
	white-space:nowrap;
}
div.form-wrapper form div.fieldset-wrapper{
	width:50%;
	float:left;
	margin-left:0px;
	margin-right:0px;

}
fieldset{
	border:none;
}
fieldset.filter-left span{
	font-weight:bold;
}
br.float-stopper{
	clear:both;
}
form div.submit-wrapper{
	
	text-align:center;
}
div.form-wrapper{
	border:1px solid grey;
	margin:1%;
	padding:10px;
}
/*----------Inicio---------------------------------*/

#main {
	min-height: 100px;
	margin: 0;
	padding: 20px 20px;
	display: -webkit-flex;
	display:         flex;
	-webkit-flex-flow: row;
	flex-flow: row;
	display: -moz-flex;
	-moz-flex-flow: row;
}

#main > p a{
	margin: 0px;
	padding: 10px 10px;
	border: 1px solid black;
	border-radius: 7pt;
	background:#78909C;
	text-decoration: none;
	color: white;
	-webkit-flex: 3 1 50%;
	-moz-flex: 3 1 50%;
	flex: 3 1 50%;
	-webkit-order: 1;
	-moz-order: 1;
	order: 1;
}

.inicio header, .inicio footer{
	display: block;
	margin: 4px;
	padding: 5px;
	min-height: 100px;
}

/* Demasiado estrecho para soportar tres columnas */
@media all and (max-width: 100px) {

	#main{
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
					flex-flow: column;
				}

	#main > article, #main > nav, #main > aside {
	/* Return them to document order */
	-webkit-order: 0;
					order: 0;
 }

 #main > nav, #main > aside, header, footer {
	min-height: 50px;
	max-height: 50px;
 }
